@font-face {
  font-family: 'idoicons';
  src: url('../fonts/idoicons.eot?87701048');
  src: url('../fonts/idoicons.eot?87701048#iefix') format('embedded-opentype'),
  url('../fonts/idoicons.woff2?87701048') format('woff2'),
  url('../fonts/idoicons.woff?87701048') format('woff'),
  url('../fonts/idoicons.ttf?87701048') format('truetype'),
  url('../fonts/idoicons.svg?87701048#idoicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensansregular-webfont.eot');
  src: url('../fonts/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensansregular-webfont.woff2') format('woff2'),
  url('../fonts/opensansregular-webfont.woff') format('woff'),
  url('../fonts/opensansregular-webfont.ttf') format('truetype'),
  url('../fonts/opensansregular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_proximanova-regular';
  src: url('../fonts/proximanova-regular.eot');
  src: local('☺'),
  url('../fonts/proximanova-regular.woff') format('woff'),
  url('../fonts/proximanova-regular.ttf') format('truetype'),
  url('../fonts/proximanova-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_EuphoriaScript-Regular';
  src: url('../fonts/EuphoriaScript-Regular.eot');
  src: local('☺'), url('../fonts/EuphoriaScript-Regular.woff') format('woff'),
  url('../fonts/EuphoriaScript-Regular.ttf') format('truetype'),
  url('../fonts/EuphoriaScript-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.p-l-5 { 
  padding-left: 5px;
}
.ch-col-xs-10.p-l-20 { 
  padding-left: 20px;
}
.p-r-5 { 
  padding-right: 5px;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.new_alpha_A{
  background-color: #E06055;
}
.new_alpha_S{
  background-color: #c0afaa;
}
.new_alpha_Y{
  background-color: #f5d98d;
}
.new_alpha_G{
  background-color: #b1e7a5;
}
.new_alpha_B{
  background-color: #a5c3ef;
}
.ido-new-chat-open{
  display: block;
  z-index: 2303000;
  bottom: 50px;
  right: 20px;
  -webkit-transform: translateZ(0);
  height: 56px;
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.22), 0 4px 8px rgba(0, 0, 0, 0.31);
  white-space: pre;
  position: fixed;
  background-image: url(/img/chat_icon_bottom.svg);
}
.ido-new-chat-open .count-circle-badge{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 9px;
  line-height: 16px;
  background: #ae3232;
  color: #ffffff;
  font-family: 'open_sansregular';
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 10px;
}
.ido-new-chat{
  /*display: block;*/
  display: none;
  position: fixed !important;
  width: 760px;
  min-height: 600px;
  opacity: 1;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:9900;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);

}
.ido-new-chat-header {
  padding: 0 10px;
  min-height: 50px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-left: 0!important;
  margin-right: 0!important;
}
.ido-new-chat-header .logo_block {
  width: 40px;
  height: 40px;
  background: url(/../images/main/top_logo.png)no-repeat;
  background-size: 40px 40px;
}
.ido-new-chat-header .title{
  font-size: 19px;
  font-family: "Conv_EuphoriaScript-Regular";
  color: #C55F55;
  line-height: 1.895;
  position: relative;
  left: 8px;
  top: 2px;
}
.ido-new-chat-header .top-search-form .search-f{
  border: 1px solid #ccc;
  width: 100%;
  margin: 0px auto;
  height: 30px;
  text-align: left;
  padding-left: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.ido-new-chat-header .top-search-form{
  margin-bottom: 0;
}
.ido-new-chat-header #search-new-chat{
  position: relative;
  width: 180px;
  left: -5px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  height: 28px;
  display: block;
  background: white;
  box-shadow: none;
}
.ido-new-chat .search-f .form-group {
  padding-left: 30px;
  margin: 0;
}
.ido-new-chat-header input[type=submit]{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  border: none;
  background: url(/../images/svg/icon_input_search.svg) no-repeat center center;
}
.ido-new-chat-body{
  display: flex;
}

.ido-new-chat-body .left-section{
  border-right: 1px solid #cdcdcd;
  width: 380px;
}
.ido-new-chat-body .ido-chat-menu{
  background-color: #f7f5f5;
}
.ido-new-chat-body .ido-chat-menu li.active i:before{
  color: #cc726a;
}
.ido-new-chat-body .ido-chat-menu li.setting-tab{
  float:right;
  height: 40px;
}
.ido-new-chat-body .ido-chat-menu a{
  padding: 0;
  border: none !important;
  text-align: center;
  width: 63px;
  color:#2b1309;
  font-family: "open_sansregular";
  font-size: 10px;
}
.ido-new-chat-body .ido-chat-menu a.chats-dropdown{
  padding-left: 12px;
}
#chats-tab,
#contacts-tab {
  height: 28px;
}
#contacts-tab{
  font-family: 'Conv_proximanova-regular';
  color: #2b1309;
  font-size: 9px;
  text-decoration: underline;
  -webkit-text-decoration-color: #e6e2df;
  text-decoration-color: #e6e2df;
}
#chats-tab i{
  position: relative;
  left: 6px;
  
}
#contacts-tab i{
  display: block;
  height: 28px;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu{
  padding: 0;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu a{
  padding: 5px;
  padding-left: 30px;
  text-align: left;
  width: 100%;
  color: #2b1309;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu ul{
  padding: 0;
}
.ido-new-chat-body .ido-chat-menu li {
  height: 40px;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu ul>li>a{
  padding-left: 40px;
  display: block;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu ul>li>ul>li>a{
  padding-left: 50px;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu a:hover{
  background-color: #f5f5f5;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu a.active:before{
  font-family: "FontAwesome";
  content: "\f111";
  color: #C55F55;
  position: absolute;
  left: 12px;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu label{
  padding: 5px 0px;
  color: #2b1309;
  font-family: "open_sansregular";
  font-size: 10px;
  width: 140px;
  margin: 0 auto;
  display: block;
  font-weight: normal;
}
.ido-new-chat-body .ido-chat-menu .dropdown-menu .divider {
  width: 90%;
  margin: 0 auto;
}
.ido-new-chat-body .ido-chat-menu a>i::before{
  padding: 0;
}
.ido-new-chat-body .ido-chat-menu a.settings-btn{
  width: 58px;
  margin-right: 0;
  height: 100%;
}
.ido-new-chat-body .ido-chat-menu .ido-icon-settings:before{
  line-height: 40px;
}
.ido-new-chat-body .ido-chat-menu li.active a.settings-btn{
  position: relative;
  z-index: 2000;
}
.ido-new-chat-body .ido-chat-menu a.dropdown-toggle{
  font-family:'Conv_proximanova-regular';
  color:#2b1309;
  font-size: 9px;
  text-decoration: underline;
  -webkit-text-decoration-color: #e6e2df;
  text-decoration-color: #e6e2df;
}
.ido-new-chat-body .right-section{
  width: 380px;
}
.ido-new-chat-body .ido-chat-menu .count-circle-badge{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 9px;
  line-height: 16px;
  background: #ae3232;
  color: #ffffff;
  font-family: 'open_sansregular';
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 18px;
  z-index: 20;
}
.ido-newchat-title-block{
  margin-left: 85px;
  margin-right: 10px;
}
.title-list-chat {
  overflow: hidden;
  text-align:center;
  color:#afafaf;
  font-family:'Conv_proximanova-regular';
  font-size: 9px;
  line-height: 16px;
}
.title-list-chat:before,
.title-list-chat:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #afafaf;
  border: solid #FFF;
  border-width: 0 10px;
}
.title-list-chat:before {
  margin-left: -100%;
}
.title-list-chat:after {
  margin-right: -100%;
}
.ido-newchat-list{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0;
}
.ido-newchat-list li:first-child{
  padding-top: 5px;
}
.ido-newchat-list li:last-child{
  padding-bottom: 5px;
}
.ido-newchat-list li>a{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.ido-newchat-list li:hover,
.ido-newchat-list li.show-user{
background-color: #ecffdd;
}
.ido-chat-avatar{
  color:#2b1309;
}
.ido-chat-avatar .badge-newchat{
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  position: relative;
  right: 25px;
  top: 30px;
  background-color: #cdcdcd;
}
.active-user .badge-newchat {
  background-color: #077018 !important;
}
.ido-cont-name{
  color: #afafaf;
  font-family: 'open_sansregular';
  font-size: 11px;
}
.active-user .ido-cont-name{
  color:#C55F55;
  position: relative;
  top: -3px;
}
.ido-date-chat{
  color:#afafaf;
  font-family:'Conv_proximanova-regular';
  font-size: 9px;
  display: inline-flex;
  justify-content: space-between;
}
.ido-cont-text{
  color:#afafaf;
  font-family:'Conv_proximanova-regular';
  font-size: 11px;
  color: #2b1309;
}
.ido-active-block{
 display: inline-flex;
 justify-content: flex-end;
 align-items: center;
}
.ido-active-block .count-circle-badge {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 9px;
  line-height: 18px;
  background: #ae3232;
  color: #ffffff;
  font-family: 'open_sansregular';
  display: inline-block;
  text-align: center;
}
.ido-active-block .badge-newchat {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-color: #cdcdcd;
  margin-left: 2px;
}
.ido-new-chat .tab-pane{
  padding-top: 5px;
  overflow-y: auto;
  height: 530px;
}
.ido-new-chat #home{
  padding-top: 22px;
}
.ido-messager-heder{
  background-color:#f7f5f5;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #ddd;
}
.ido-messager-heder .title{
  font-family: 'open_sansregular';
  font-size: 15px;
  line-height: 20px;
  color:#2b1309;
}
.ido-messager-heder .btn-block-messanger{
  text-align: right;
}
.ido-messager-heder .btn-block-messanger button{
  color:#C55F55;
}
.ido-messager-heder .btn-block-messanger button>i:before{
  padding: 0;
  font-size: 18px;
}
.ido-messager-body{
  padding: 10px;
  height: 55%;
  overflow-y: auto;
}
.ido-messager-body .title{
  color: #afafaf;
  font-family: 'Conv_proximanova-regular';
  font-size: 9px;
  display: inline-flex;
  justify-content: space-between;
}
.received-message-block .ido-chat-avatar .badge-newchat {
  display: block;
  position: relative;
  left: 30px;
  top: 30px;
}
.received-message-block .body-message{
  background-color: #ecffdd;
  color: #2b1309;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: 'Conv_proximanova-regular';
  font-size: 9px;
  margin-top:10px;
  font-weight: bold;
}
.received-message-block .attach-block{
  font-family: 'Conv_proximanova-regular';
  font-size: 11px;
  color: #2b1309;
}
.received-message-block .attach-block i:before{
  font-size: 9px;
  color: #C55F55;
  padding-right: 5px;
}
.send-message-block .body-message{
  background-color: #f3f3f3;
  color: #2b1309;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: 'Conv_proximanova-regular';
  font-size: 9px;
  margin-top:10px;
  font-weight: bold;
}
.ido-messager-footor {
  border-top: 1px solid #ddd;
  background-color: #f7f5f5;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  width: 380px;
}
.ido-message-container{
  display: flex;
  border: 1px solid #ddd;
  background-color: #ffffff;
  margin-left: 10px!important;
  margin-right: 10px!important;
  margin-top: 0;
  margin-bottom: 10px;
}
.new-meassage-input{
  border: none;
  resize: none;
  height: 60px;
}
.ido-messager-footor button{
  color: #C55F55;
}
.ido-messager-footor button>i:before{
  padding: 0;
  font-size: 18px;
}
#ido-newmsg-sbmt i:before{
  font-size: 30px;
  color:#ddd;
}
.setting-menu-chat{
  display: none;
  min-width: 248px;
  position: absolute;
  top: 100%;
  right: -1px;
  z-index: 1000;
  float: left;
  padding: 5px 18px;
  margin: -1px 0 0;
  font-family: 'Conv_proximanova-regular';
  font-size: 11px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-top-right-radius: 0;
}
.header-block-setting-chat{
  padding-bottom: 7px;
}
.setting-menu-chat label{
  line-height: 28px;
  margin: 0;
}
.footor-block-setting-chat{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footor-block-setting-chat button{
  padding: 4px;
    width: 70px;
}
.setting-menu-chat .input-group{
  margin-bottom: 5px;
}
.setting-menu-chat .input-group-addon {
  padding: 6px 6px;
  font-size: 11px;
  background-color: #ffffff;
  border-right: none;
  color:#cdcdcd;
}
.setting-menu-chat .input-group-addon.active {
  color: #077018;
}
.setting-menu-chat .input-group .form-control{
  border-left: none;
  box-shadow: none;
}
.setting-menu-chat .header-block-setting-chat .title{
  text-align: center;
  color: #c55f55;
  line-height: 30px;
}
.right-section .active{
  display:block;
}
.right-section .welcome{
    height:100%;
    display: none;
}
.right-section .welcome>div{
  height:100%;
}

.right-section .welcome h2{
  font-size: 19px;
  margin-bottom: 10px;
}
.logo-welcome {
  width: 80px;
  height: 80px;
  margin: 0% auto;
}
.ido-new-chat .filter-section{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #eeee;
  padding-bottom: 5px;
}
.ido-new-chat .filter-block{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
  margin-left: 5px;
  margin-right: 5px;
}
.ido-new-chat .filter-block .clear_filter{
  margin-left: 5px;
}
.ido-new-chat .clear_search{
  display: none;
}
/* context menu */

.chat-context-menu {
  display: none;
  position: absolute;
  z-index:9910;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.chat-context-menu--active {
  display: block;
}

.chat-context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat-context-menu__item {
  display: block;
  position: relative;
}

.chat-context-menu__item:last-child {
  margin-bottom: 0;
}

.chat-context-menu__link {
  display: block;
  padding-left: 27px;
  padding-right: 20px;
  line-height: 24px;
  color: #2b1309;
  text-decoration: none;
}

.chat-context-menu__link:hover {
  color: #2b1309;
  background-color: #ecffdd;
}
.chat-context-menu__divider {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.chat-context-menu .badge-newchat {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-color: #cdcdcd;
  position: absolute;
  left: 5px;
  top: 3px;
}
.ido-new-chat-body .ido-chat-menu a.chat-settings-dropdown{
  text-decoration: none;
  width: 100%;
  font-size: 11px;
  text-align: left;
  background: #fcfcfc;
  height: 29px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  margin-bottom: 5px;
  font-style: italic;
}
.ido-new-chat-body .chat-settings-select{
  min-width: 102px;
  position: absolute;
  left: -12px;
  top: 29px;
}
.ido-new-chat-body .chat-settings-select  li{
  display: flex;
  align-items: center;
  height: auto;
}
.chat-settings-select .status-content-wrap {
  position: absolute;
  width: 22px;
  height: 22px;
  padding-left: 5px;
}
.ido-new-chat-body .dropdown-menu.chat-settings-select a{
  padding: 4px 5px 4px 36px;
  font-style: italic;
}
.ido-chat-avatar .ido-videocall-image{
  margin-left: 6px;
  height: 40px;
  width: 40px;
}
/* End context menu */